/* @font-face {
	font-family: 'Metropolis';
	src: url('../assets/Metropolis/Metropolis-Light.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
} */
@font-face {
	font-family: 'Metropolis-Light';
	font-weight: 400;
	font-style: normal;
	src: local('Metropolis-Light'), url('/Metropolis-Light-400.ttf');
}

html {
	font-family: 'Metropolis-Light';
	font-weight: 400;
}
h1 {
	color: #e84142;
}
